<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/styles/style2.css">
    <script type="module" src="/private/frontend.js" ></script>
    <title>Inicio</title>
</head>
<body>

    <div class="content">
    <div id="navBar">
        <nav>
            <div id="logo" >
                <img src=" img /icon.png" alt="" id="icon">
                <div id="Tl">CAFE APP</div>
            </div>
            <ul>
                <li >
                    
                     <a href="/board" >
                        <div class="navLink">Inicio</div>
                     </a>

                </li>
                <li>
                    <a href="/private/reg.html">
                        <div class="navLink" >Registrar trabajador</div>
                    </a>
                </li>
                <li>
                    <a href="/private/cafe">
                        <div class="navLink">Registrar cantidad recolectada</div>
                    </a>
                </li>
                <li>
                    <a href="/private/pay">
                        <div class="navLink">Generar planilla de pago</div>
                    </a>
                </li>
                <li>
                    <a href="/private/info">
                        <div class="navLink">Generar informe</div>
                    </a>
                </li>
                <li>
                    <a href="/private/copy">
                        <div class="navLink">Generar copia de seguridad</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="navLink" id="lout" >Logout</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="menu">

        <ul class="el">
                <li >
                    
                     <a href="board.html" >
                        <div class="op">Inicio</div>
                     </a>

                </li>
                <li>
                    <a href="reg.html">
                        <div class="op" >Registrar trabajador</div>
                    </a>
                </li>
                <li>
                    <a href="cafe.html">
                        <div class="op">Registrar cantidad recolectada</div>
                    </a>
                </li>
                <li>
                    <a href="pay.html">
                        <div class="op">Generar planilla de pago</div>
                    </a>
                </li>
                <li>
                    <a href="info.html">
                        <div class="op">Generar informe</div>
                    </a>
                </li>
                <li>
                    <a href="copy.html">
                        <div class="op">Generar copia de seguridad</div>
                    </a>
                </li>
            </ul>

    </div>
    </div>
</body>
</html>