<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/styles/style2.css">
    <script type="module" src="/private/frontend.js" ></script>
    <title>registro</title>
</head>
<body>
    <div class="content">
    <div id="navBar">
        <nav>
            <div id="logo" >
                <img src="img /icon.png" alt="" id="icon">
                <div id="Tl">CAFE APP</div>
            </div>
            <ul>
                <li >
                    
                     <a href="board.html" >
                        <div class="navLink">Inicio</div>
                     </a>

                </li>
                <li>
                    <a href="reg.html">
                        <div class="navLink" >Registrar trabajador</div>
                    </a>
                </li>
                <li>
                    <a href="cafe.html">
                        <div class="navLink">Registrar cantidad recolectada</div>
                    </a>
                </li>
                <li>
                    <a href="pay.html">
                        <div class="navLink">Generar planilla de pago</div>
                    </a>
                </li>
                <li>
                    <a href="info.html">
                        <div class="navLink">Generar informe</div>
                    </a>
                </li>
                <li>
                    <a href="copy.html">
                        <div class="navLink">Generar copia de seguridad</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="navLink" id="lout">Logout</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="reg">
        <form action="">
            <div id="cc">
                <label for="cedula">Cedula</label>
                <input type="number" name="cedula" id="cedula" >
            </div>
            <div id="n">
                <label for="name"> Nombre</label>
                <input type="text" name="name" id="name">

            </div>
            <button>Registrar</button>
        </form>
    </div>
    </div>
</body>
</html>